<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Tracker app</title>
</head>
<body>
  <nav>
    <div class="empty-div"></div>
    <h2>Tracker App</h2>
    <div class="links">
      <a href="/tracker/detail">Detail view &nbsp;&nbsp;</a>
      <a href="/tracker/calender">Calender view</a>
    </div>
  </nav>
  <%- body %>

  <script src="/scripts.js"></script>
</body>
</html>